doctype html
html(lang="fr")
    head
        include ./commons/header.pug
        title Notre Équipe
        link(rel="stylesheet" href="/stylesheets/equipe.css")
    body
        include ./commons/navbar.pug
        .container
            h1 L'Équipe
        .flex-column
            .d-flex.flex-row
                .card
                    img(class="card-img-top" src="/images/avatar1.png")
                    .card-body
                        h4.card-title Franck Assan
                        h4.card-title Dev
                .card
                    img(class="card-img-top" src="/images/avatar1.png")
                    .card-body
                        h4.card-title Franck Assan
                        h4.card-title Dev
                .card
                    img(class="card-img-top" src="/images/avatar1.png")
                    .card-body
                        h4.card-title Franck Assan
                        h4.card-title Dev

        include ./commons/footer.pug
