doctype html
html(lang="fr")
    head
        include ./commons/header.pug
        include ./commons/navbar.pug
        title Notre Équipe
        link(rel="stylesheet" href="/stylesheets/equipe.css")
    body
        main
            section#equipe
                h1 Notre Équipe
                .team-container
                    .team-member
                        img(src="/images/avatar.png" alt="Photo de Alex")
                        h2 Alex
                        p Spécialiste en design et communication.
                    .team-member
                        img(src="/images/avatar.png" alt="Photo de Jamie")
                        h2 Jamie
                        p Développeur web et créateur de contenu.
                    .team-member
                        img(src="/images/avatar.png" alt="Photo de Sam")
                        h2 Sam
                        p Gestionnaire de projet et responsable logistique.
        include ./commons/footer.pug
