html
  include ./commons/header.pug
  include ./commons/navbar.pug
  <link rel="stylesheet" href="/stylesheets/landing-page.css" />
  body 
    section.landing-page-section
      h1.heading-1 Pedalez vers l'avenir: Itineraires et Stats Velo!
      .btn-wrapper
        button.btn-equipe.btn L'equipe
        button.btn-more.btn En savoir plus
    include ./commons/footer.pug