doctype html
html
    head
        include ./commons/header.pug
        link(rel="stylesheet" href="/stylesheets/pointInteret-page.css")
        link(rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css")
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
        style.
            #map { z-index: 1; }
            .leaflet-interactive { cursor: pointer; }
            .selected-arrondissement {
                fill: #FF0000 !important;
                fill-opacity: 0.5 !important;
            }
    body
        include ./commons/navbar.pug
        main
            .section1
                h1.heading-point-interet Points d'intérêt
                p.sub-heading-point-interet Le site propose beaucoup de lieu d'interet dans le grand montreal qui pourrait etre utile pour les amateurs de velo
                h3.heading-point-interet-2 Territoires:
                #map(style="height: 400px;").img-google-map
                .map-point-interet
                    form(action="")
                        .row.arrondissement-container
                            .col-6
                                label(for="arrondissement") Arrondissement
                            .col-6
                                select(name="arrondissement", id="arrondissement").form-select.select-1
                                    option(value="Tous") Tous
                        .row.lieu-container
                            .col-6
                                label(for="typeDeLieu") Type de lieu:
                            .col-6
                                select(name="typeDeLieu", id="TypeDeLieu").form-select.select-1
                                    option(value="Fontaine à boire") Fontaine à boire
            .sectionTable
                table.table.table-hover#myTable
                    thead
                        tr
                            th Arrondissement
                            th Code
                            th Abbreviation
                    tbody
        include ./commons/footer.pug
script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js")
script(src="/javascript/pointInteret.js") 

   