nav {
  background-color: #46be72;
  color: white;
  width: 100%;
}

.navbar.navbar-expand-sm.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sectionLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-image {
  height: 70px;
}

.nav-link {
  color: white;
}

.navbar-nav.sectionLinks {
  display: flex;
  align-items: center;
  justify-self: center;
  align-content: space-around;
  margin-left: 15%;
  font-size: x-large;
}

.navbar-nav.sectionLinks  a {
  margin-left: 50px;
}

.sectionInteret {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Logo user*/

.navbar-nav.account {
  order: 1; /* Move the account section to the start */
  display: flex;
  margin-right: auto; /* Align it to the left */
  margin-left: auto;
}

.navbar-nav.account li a img {
  justify-self: center;
  height: 40px;
}


