main {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding: 4rem;
  justify-content: space-around;
  overflow: hidden;
}
.section1 {
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.heading-point-interet {
  margin-bottom: 30px;
}
.heading-point-interet-2 {
  margin-bottom: 30px;
}
.sub-heading-point-interet {
  margin-bottom: 30px;
}

.select-1 {
  font-size: inherit;
}

.lieu-container {
  margin-top: 1rem;
}
.img-google-map {
  width: 40rem;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 4rem;
}

.sectionTable {
  margin: 20px;
  width: 100%;
  align-content: center;
}
#myTable_filter {
  display: none;
}
