body {
    font-family: Arial, sans-serif;
    /*height: 100%;*/
    /*line-height: 1.6;*/
    color: #333;
    background-color: #f4f4f9;
    /*padding: 20px;*/
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    /*color: #0078d4;*/
    margin-bottom: 20px;
}

#projet {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
/* Add subtle hover effect */
img:hover {
    transform: scale(1.01);
}

p {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 20px;
}
