nav.navbar.navbar-expand-sm.footer
  ul.navbar-nav
    li.nav-item
      .socialLogo
        img.logo-image(src="/images/instagram.svg", alt="IG-logo")
        img.logo-image(src="/images/twitter-bird.svg", alt="x-logo")
        img.logo-image(src="/images/facebook.svg", alt="facebook-logo")
  ul.navbar-nav.copyright
    li
      p.copyright ©2025, GTI525 Groupe 01 - Equipe 11
