nav.navbar.navbar-expand-sm.navigation
  ul.navbar-nav
    li.nav-item
      .sectionLogo
        a(href="/" id="logo")
          img.logo-image(src="/images/logo.png", alt="logo")
        span: h1.project-name PedaMap
  ul.navbar-nav.sectionLinks
    li.nav-item
      a.nav-link(href="/itineraire") Itinéraires
    li.nav-item
      a.nav-link(href="/statistique") Statistiques
    li.nav-item
      .dropdown
        .sectionInteret
          a.nav-link(href="/pointInteret") Points d'interet
          span: img.arrow-image(src="/images/down-arrow-head.svg", alt="arrow")
        .dropdown-content
          a(href=href="/pointInteret/ajouter") Ajouter
  ul.navbar-nav.account
    li
      a: img(src="/images/account.svg" alt="logo-account")
